# Python
__pycache__/
*.py[codz]
*$py.class
build/

## Logs
*.log

## Environments
.env
.venv
env/
venv/

## mypy
.mypy_cache/
.dmypy.json
dmypy.json

## Visual Studio Code
.vscode/

## Ruff stuff:
.ruff_cache/

# CDK
infrastructure/cdk.out/
infrastructure/node_modules/

# Frontend
node_modules/
dist/

# Other

local/
.local/